<div class="container">
  <div class="datatable-container">
    <div class="row">
      <div class="col-md-6">
        <h1>Available Songs</h1>
      </div>
      <div class="col-md-6">
        <h1>Current Assigned Playlist</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <table id="available-playlist" class="table">
          <thead>
            <tr>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
            <tr>
              <th>Song</th>
              <th>Duration (MM:SS)</th>
              <th>Artist</th>
              <th>Audio Snippet</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>One Dance</td>
              <td>02:12</td>
              <td>Drake</td>
              <td>TODO</td>
              <td>LINK HERE</td>
            </tr>
            <tr>
              <td>One Dance</td>
              <td>02:12</td>
              <td>Drake</td>
              <td>TODO</td>
              <td>LINK HERE</td>
            </tr>
            <tr>
              <td>One Dance</td>
              <td>02:12</td>
              <td>Drake</td>
              <td>TODO</td>
              <td>LINK HERE</td>
            </tr>
            <tr>
              <td>One Dance</td>
              <td>02:12</td>
              <td>Drake</td>
              <td>TODO</td>
              <td>LINK HERE</td>
            </tr>
            <tr>
              <td>One Dance</td>
              <td>02:12</td>
              <td>Drake</td>
              <td>TODO</td>
              <td>LINK HERE</td>
            </tr>
            <tr>
              <td>One Dance</td>
              <td>02:12</td>
              <td>Drake</td>
              <td>TODO</td>
              <td>LINK HERE</td>
            </tr>
            <tr>
              <td>One Dance</td>
              <td>02:12</td>
              <td>Drake</td>
              <td>TODO</td>
              <td>LINK HERE</td>
            </tr>
            <tr>
              <td>One Dance</td>
              <td>02:12</td>
              <td>Drake</td>
              <td>TODO</td>
              <td>LINK HERE</td>
            </tr>
            <tr>
              <td>One Dance</td>
              <td>02:12</td>
              <td>Drake</td>
              <td>TODO</td>
              <td>LINK HERE</td>
            </tr>
            <tr>
              <td>One Dance</td>
              <td>02:12</td>
              <td>Drake</td>
              <td>TODO</td>
              <td>LINK HERE</td>
            </tr>
            <tr>
              <td>One Dance</td>
              <td>02:12</td>
              <td>Drake</td>
              <td>TODO</td>
              <td>LINK HERE</td>
            </tr>
            <tr>
              <td>One Dance</td>
              <td>02:12</td>
              <td>Drake</td>
              <td>TODO</td>
              <td>LINK HERE</td>
            </tr>
            <tr>
              <td>One Dance</td>
              <td>02:12</td>
              <td>Drake</td>
              <td>TODO</td>
              <td>LINK HERE</td>
            </tr>
            <tr>
              <td>One Dance</td>
              <td>02:12</td>
              <td>Drake</td>
              <td>TODO</td>
              <td>LINK HERE</td>
            </tr>
            <tr>
              <td>One Dance</td>
              <td>02:12</td>
              <td>Drake</td>
              <td>TODO</td>
              <td>LINK HERE</td>
            </tr>
            <tr>
              <td>One Dance</td>
              <td>02:12</td>
              <td>Drake</td>
              <td>TODO</td>
              <td>LINK HERE</td>
            </tr>
            <tr>
              <td>One Dance</td>
              <td>02:12</td>
              <td>Drake</td>
              <td>TODO</td>
              <td>LINK HERE</td>
            </tr>
            <tr>
              <td>One Dance</td>
              <td>02:12</td>
              <td>Drake</td>
              <td>TODO</td>
              <td>LINK HERE</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-6">
        <table id="current-playlist" class="table">
          <thead>
            <tr>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
            <tr>
              <th>Song</th>
              <th>Duration (MM:SS)</th>
              <th>Artist</th>
              <th>Audio Snippet</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>One Dance</td>
              <td>02:12</td>
              <td>Drake</td>
              <td>TODO</td>
              <td>LINK HERE</td>
            </tr>
            <tr>
              <td>One Dance</td>
              <td>02:12</td>
              <td>Drake</td>
              <td>TODO</td>
              <td>LINK HERE</td>
            </tr>
            <tr>
              <td>One Dance</td>
              <td>02:12</td>
              <td>Drake</td>
              <td>TODO</td>
              <td>LINK HERE</td>
            </tr>
            <tr>
              <td>One Dance</td>
              <td>02:12</td>
              <td>Drake</td>
              <td>TODO</td>
              <td>LINK HERE</td>
            </tr>
            <tr>
              <td>One Dance</td>
              <td>02:12</td>
              <td>Drake</td>
              <td>TODO</td>
              <td>LINK HERE</td>
            </tr>
            <tr>
              <td>One Dance</td>
              <td>02:12</td>
              <td>Drake</td>
              <td>TODO</td>
              <td>LINK HERE</td>
            </tr>
            <tr>
              <td>One Dance</td>
              <td>02:12</td>
              <td>Drake</td>
              <td>TODO</td>
              <td>LINK HERE</td>
            </tr>
            <tr>
              <td>One Dance</td>
              <td>02:12</td>
              <td>Drake</td>
              <td>TODO</td>
              <td>LINK HERE</td>
            </tr>
            <tr>
              <td>One Dance</td>
              <td>02:12</td>
              <td>Drake</td>
              <td>TODO</td>
              <td>LINK HERE</td>
            </tr>
            <tr>
              <td>One Dance</td>
              <td>02:12</td>
              <td>Drake</td>
              <td>TODO</td>
              <td>LINK HERE</td>
            </tr>
            <tr>
              <td>One Dance</td>
              <td>02:12</td>
              <td>Drake</td>
              <td>TODO</td>
              <td>LINK HERE</td>
            </tr>
            <tr>
              <td>One Dance</td>
              <td>02:12</td>
              <td>Drake</td>
              <td>TODO</td>
              <td>LINK HERE</td>
            </tr>
            <tr>
              <td>One Dance</td>
              <td>02:12</td>
              <td>Drake</td>
              <td>TODO</td>
              <td>LINK HERE</td>
            </tr>
            <tr>
              <td>One Dance</td>
              <td>02:12</td>
              <td>Drake</td>
              <td>TODO</td>
              <td>LINK HERE</td>
            </tr>
            <tr>
              <td>One Dance</td>
              <td>02:12</td>
              <td>Drake</td>
              <td>TODO</td>
              <td>LINK HERE</td>
            </tr>
            <tr>
              <td>One Dance</td>
              <td>02:12</td>
              <td>Drake</td>
              <td>TODO</td>
              <td>LINK HERE</td>
            </tr>
            <tr>
              <td>One Dance</td>
              <td>02:12</td>
              <td>Drake</td>
              <td>TODO</td>
              <td>LINK HERE</td>
            </tr>
            <tr>
              <td>One Dance</td>
              <td>02:12</td>
              <td>Drake</td>
              <td>TODO</td>
              <td>LINK HERE</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <a class="btn theme" href="/DJ_playlists">Return to Dashboard</a>
    </div>
  </div>
</div>