<!DOCTYPE html>
<html lang="en">

<head>
  <title>Website</title>
  <style>
    body {
      background-color: #000;
      color: #fff;
      font-family: "Noto Sans", sans-serif;
      font-size: 20px;
      margin: 50px;
      background-image: url(https://images.unsplash.com/photo-1524439188326-e47322d1cef2?crop=entropy&cs=srgb&fm=jpg&ixid=M3wzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE3MDEyODI0MzR8&ixlib=rb-4.0.3&q=85);
      background-size: cover;
      background-position: top;
      background-repeat: no-repeat;
    }

    .center-heading {
      text-align: center;
      margin-bottom: 0px;
    }

    .main-container {
      position: relative;
      height: 40vh;
      background-size: cover;
      background-position: bottom;
      background-repeat: no-repeat;
    }

    h1 {
      font-size: 36px;
      font-weight: bold;
      color: #fff;
    }

    label {
      display: block;
      margin-bottom: 10px;
    }

    select {
      font-size: 20px;
      width: 100%;
      padding: 10px;
      margin-bottom: 20px;
      background-color: #1db99f;
      color: #fff;
      border: none;
      border-radius: 5px;
    }

    .container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 20px;
    }

    .listener-details {
      padding: 10px;
      border-radius: 10px;
      background-color: rgba(0, 0, 0, 0.7);
      color: #fff;
    }

    img {
      width: 100%;
      border-radius: 10px;
    }

    .caption {
      font-style: italic;
      text-align: center;
      margin-top: 10px;
    }

    a {
      font-size: 16px;
      color: #fff;
      text-decoration: none;
      margin-right: 10px;
    }

    a:hover {
      color: rgb(0, 255, 13);
    }

    .logout-link {
      float: right;
    }

    #button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #1db99f;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
    #button:hover {
      background-color: rgb(0, 255, 13);
}

  </style>
</head>


<body>

  <div class="main-container">
    <header>
      <h1 class="center-heading">Listener Selection</h1>
    </header>
  </div>


  <label for="select1">Select the listener:</label>
  <select id="select1" name="selectedlistener">
    <% listenerList.forEach(function(listener) { %>
    <option value="<%= listener._id %>">
      <%= listener.name %>
    </option>
    <% }); %>
  </select>
  <div class="container">
    <div class="listener-details">
      <p id="selectedlistenerDescription"></p>
      <a href="/index2_listener" id="button" >Go</a>
    </div>
  </div>
  <a href="/" class="logout-link" id="button">Log Out</a>
  <script>
    document.getElementById('select1').onchange = function () {
      var selectedlistenerId = this.value;

      fetch(`/getlistenerDescription/${selectedlistenerId}`)
        .then(response => response.json())
        .then(data => {
          document.getElementById('selectedlistenerDescription').innerText = data.description;
        })
        .catch(error => console.error('Error listener description', error));

      document.cookie = `selectedlistener=${encodeURIComponent(this.options[this.selectedIndex].text)}; path=/`;
    };
  </script>
</body>

</html>
