<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Log in</title>
  <script src="/public/scripts.js"></script>
  <style>
    body {
      font-family: 'Noto Sans', sans-serif;
      margin: 0;
      padding: 0;
      overflow-y: scroll;
      margin-bottom: 75px;
      background-color: #050505;
    }

    .main-container {
      position: relative;
      height: 40vh;
      background-image: url('https://images.unsplash.com/photo-1509824227185-9c5a01ceba0d?crop=entropy&cs=srgb&fm=jpg&ixid=M3wzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE3MDEyODI2OTB8&ixlib=rb-4.0.3&q=85');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

    header {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      padding: 10px;
      text-align: left;
      background-color: transparent;
      z-index: 1;
    }

    h1 {
      margin-left: 20px;
      margin-top: 30px;
      z-index: 1;
      color: #fff;
    }

    form {
      width: 60%;
      margin: 10px auto;
      background-color: rgba(0, 0, 0, 0.7);
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      overflow: hidden;
      padding: 30px;
      color: #fff;
    }

    label {
      display: block;
      margin-bottom: 10px;
    }

    input {
      width: 100%;
      padding: 10px;
      margin-bottom: 20px;
      border: 1px solid #555;
      border-radius: 5px;
      background-color: #333;
      color: #fff;
    }

    button {
      background-color: #1db99f;
      color: #1db99f;
      border: none;
      padding: 10px;
      border-radius: 5px;
      cursor: pointer;
    }

    .black-bg {
      background-color: #000;
      height: 60vh;
    }

    .control-button {
      background-color: #1db99f;
      color: #1db99f;
      border: none;
      padding: 10px 20px;
      font-size: 16px;
      border-radius: 05px;
      cursor: pointer;
    }

    #button {
  padding: 10px;
  background-color: #1db99f;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  float: right; 
}
    #button:hover {
      background-color: rgb(0, 255, 13);
}
  </style>
</head>

<body>

  <div class="main-container">
    
  </div>
    <h1>Profile verification</h1>
  <a href="/index1_listener" id ="button">Other listener profiles</a>
  <form id="profileForm" action="/form" method="post">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required>
    <br>

    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required>
    <br>

    <input type="submit" value="Submit" id="button" onclick="showAlert()" style="background-color: #1db99f; color: #fff;">

  </form>

  <p id="formMessage"></p>

  <script>
    function showAlert() {
      alert("The form was submitted! Go to the next screen!");
      window.location.href = "/index2_listener";
    }
  </script>

</body>

</html>
