<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title></title>

  <link rel="stylesheet" href="/styles/application.css">
  <script src="/scripts/application.js"></script>
</head>

<body>
  <main>
    <%- body %>
  </main>
</body>

</html>