<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title></title>

  <link rel="stylesheet" href="/styles/application.css">
  <link rel="stylesheet" href="/datatables.net-dt/css/jquery.dataTables.min.css">
  <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">

  <script src="/jquery/dist/jquery.min.js"></script>
  <script src="/datatables.net/js/jquery.dataTables.min.js"></script>
  <script type="module" src="/scripts/application.js"></script>
</head>

<body>
  <%- body %>
</body>

</html>