body {
  background-color: #0c0c0c !important;
  color: white !important;
}

.datatable-container {
  margin-top: 5%;
}

a.theme {
  background-color: #1db99f !important;
}

input {
  background-color: white !important;
  margin-bottom: 5% !important;
}

th {
  background-color: #1db99f !important;
  color: white !important
}

td {
  background-color: black !important;
  color: white !important;
}

select {
  background-color: #1db99f !important;
}

table {
  border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden;
}

.custom_background {
  background-color: #1db99f !important;
}