body {
  background-color: black;
  color: white;
  font-family: 'Noto Sans', sans-serif;
  font-size: 25pt;
}

.container {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.dashboard {
  min-height: 100vh;
  border: 2px #1db99f solid;
  padding: 5%;
  font-size: 20pt;
  background-color: #060505;
}

legend {
  margin-left: 5%;
  font-weight: bold;
  font-size: 35pt;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden;
  font-size: 15pt;
}

th,
td {
  border-bottom: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #1db99f;
}

.table-header {
  font-size: 25pt;
}

nav {
  margin: 2% !important;
}

button {
  background-color: #1db99f;
  color: white;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 17pt;
}

.new-record-flex {
  display: flex;
}