body {
  background-color: #0c0c0c !important;
  color: white !important;
}

.datatable-container {
  margin-top: 5%;
}

.form-container {
  margin: 10%;
}

a.theme {
  background-color: #1db99f !important;
}

input {
  background-color: white !important;
  margin-bottom: 5% !important;
}

th {
  background-color: #1db99f !important;
  color: white !important
}

td {
  background-color: black !important;
  color: white !important;
}

select {
  background-color: #1db99f !important;
}

table {
  border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden;
}

input {
  color: black !important;
}

.custom_background {
  background-color: #1db99f !important;
}

.btn-radio {
  background-color: #1db99f !important;
  border-color: #1db99f !important;
}

fieldset {
  border: 1px solid white !important;
  padding: 5% !important;
}

.white-text {
  color: white !important;
}