<div class="container">
  <div class="datatable-container">
    <div class="row">
      <div class="col-md-4">
        <h1>Current Playlist</h1>
      </div>
    </div>
    <table id="dashboard" class="table">
      <thead>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        <tr>
          <th>Song</th>
          <th>Duration (MM:SS)</th>
          <th>Artist</th>
          <th>Audio Snippet</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>One Dance</td>
          <td>02:12</td>
          <td>Drake</td>
          <td>TODO</td>
          <td>LINK HERE</td>
        </tr>
        <tr>
          <td>One Dance</td>
          <td>02:12</td>
          <td>Drake</td>
          <td>TODO</td>
          <td>LINK HERE</td>
        </tr>
        <tr>
          <td>One Dance</td>
          <td>02:12</td>
          <td>Drake</td>
          <td>TODO</td>
          <td>LINK HERE</td>
        </tr>
        <tr>
          <td>One Dance</td>
          <td>02:12</td>
          <td>Drake</td>
          <td>TODO</td>
          <td>LINK HERE</td>
        </tr>
        <tr>
          <td>One Dance</td>
          <td>02:12</td>
          <td>Drake</td>
          <td>TODO</td>
          <td>LINK HERE</td>
        </tr>
        <tr>
          <td>One Dance</td>
          <td>02:12</td>
          <td>Drake</td>
          <td>TODO</td>
          <td>LINK HERE</td>
        </tr>
        <tr>
          <td>One Dance</td>
          <td>02:12</td>
          <td>Drake</td>
          <td>TODO</td>
          <td>LINK HERE</td>
        </tr>
        <tr>
          <td>One Dance</td>
          <td>02:12</td>
          <td>Drake</td>
          <td>TODO</td>
          <td>LINK HERE</td>
        </tr>
        <tr>
          <td>One Dance</td>
          <td>02:12</td>
          <td>Drake</td>
          <td>TODO</td>
          <td>LINK HERE</td>
        </tr>
        <tr>
          <td>One Dance</td>
          <td>02:12</td>
          <td>Drake</td>
          <td>TODO</td>
          <td>LINK HERE</td>
        </tr>
        <tr>
          <td>One Dance</td>
          <td>02:12</td>
          <td>Drake</td>
          <td>TODO</td>
          <td>LINK HERE</td>
        </tr>
        <tr>
          <td>One Dance</td>
          <td>02:12</td>
          <td>Drake</td>
          <td>TODO</td>
          <td>LINK HERE</td>
        </tr>
        <tr>
          <td>One Dance</td>
          <td>02:12</td>
          <td>Drake</td>
          <td>TODO</td>
          <td>LINK HERE</td>
        </tr>
        <tr>
          <td>One Dance</td>
          <td>02:12</td>
          <td>Drake</td>
          <td>TODO</td>
          <td>LINK HERE</td>
        </tr>
        <tr>
          <td>One Dance</td>
          <td>02:12</td>
          <td>Drake</td>
          <td>TODO</td>
          <td>LINK HERE</td>
        </tr>
        <tr>
          <td>One Dance</td>
          <td>02:12</td>
          <td>Drake</td>
          <td>TODO</td>
          <td>LINK HERE</td>
        </tr>
        <tr>
          <td>One Dance</td>
          <td>02:12</td>
          <td>Drake</td>
          <td>TODO</td>
          <td>LINK HERE</td>
        </tr>
        <tr>
          <td>One Dance</td>
          <td>02:12</td>
          <td>Drake</td>
          <td>TODO</td>
          <td>LINK HERE</td>
        </tr>
      </tbody>
    </table>
    <div class="row">
      <div class="col-md-3">
        <a class="btn theme" href="/djs/lookup">Add to Playlist</a>
      </div>
    </div>
  </div>
</div>